@font-face {
  font-family: "Yekan Bakh";
  src: url("../font/yekanbakh/YekanBakh-Hairline.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Yekan Bakh";
  src: url("../font/yekanbakh/YekanBakh-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Yekan Bakh";
  src: url("../font/yekanbakh/YekanBakh-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Yekan Bakh";
  src: url("../font/yekanbakh/YekanBakh-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Yekan Bakh";
  src: url("../font/yekanbakh/YekanBakh-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Yekan Bakh";
  src: url("../font/yekanbakh/YekanBakh-Heavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Yekan Bakh";
  src: url("../font/yekanbakh/YekanBakh-Fat.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "yekan bakh";
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1400px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

#Header {
  width: 1359px;
  height: 64px;
  border-radius: 15px;
  display: flex;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
  margin: 8px auto 0;

  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
}

.logo {
  display: block;
  width: 50px;
  height: 50px;
}

.menu {
  display: flex;
  flex: 1;
  justify-content: center;
}

.menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu ul li {
  padding: 0 20px;
  border-left: 2px solid #98a7ba;
}

.menu ul li:last-child {
  border-left: none;
}

.menu ul li a {
  font-size: 16px;
  color: #091222;
}

.btn-p {
  font-family: inherit;
  border: none;
  padding: 9px 18px;
  border-radius: 7px;
  font-size: 16px;
  /* margin-left: 12px; */
  background-color: #3fbdfc;
}

.main {
  width: 100%;
}

#main-slider {
  width: 100%;
  min-height: 430px;
  border-radius: 15px;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main-slider > img {
  width: 45%;
  max-width: 520px;
  height: auto;
  /* transform: rotateY(180deg) */
}

.content-slider {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: inherit;
  font-size: 25px;
}

#titr-slider {
  display: flex;
  flex-direction: column;
}

#titr-slider h2 {
  font-family: inherit;
  font-size: 28px;
  font-weight: 700;
  margin: 0 0 25px;
}

#titr-slider p {
  max-width: 520px;
  font-family: inherit;
  font-size: 18px;
  line-height: 2;
  color: #37475e;
  margin: 0;
}

.slider-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  margin-top: 35px;
}
.btn-Portfolio {
  min-width: 175px;
  height: 54px;
  border: 2px solid #37475e;
  border-radius: 7px;
  background-color: #fff;
  font-family: inherit;
  font-size: 21px;
  font-weight: 700;
  color: #091222;
  cursor: pointer;
}

.btn-Services {
  min-width: 175px;
  height: 54px;
  background-color: #3fbdfc;
  border: none;
  border-radius: 7px;
  font-family: inherit;
  font-size: 21px;
  color: #091222;
  cursor: pointer;
  margin-bottom: 3px;
  font-weight: 700;
}

#Statistics {
  width: 100%;
  height: 150px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 35px;
  margin-top: 30px;
  box-shadow: 1px -5px 5px rgba(0, 0, 0, 0.25);
}

.stat-item {
  width: 25%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  border-left: 1px solid #c5ced8;
}

.stat-item:last-child {
  border-left: none;
}

.stat-number {
  font-family: inherit;
  font-size: 50px;
  font-weight: 700;
  line-height: 1;
  color: #1e147e;
}

.stat-item:nth-child(2) .stat-number,
.stat-item:nth-child(3) .stat-number {
  color: #3fbdfc;
}

.stat-txt {
  font-family: inherit;
  font-size: 22px;
  font-weight: 500;
  margin-top: 8px;
  line-height: 1;
  color: #37475e;
}

#Services {
    margin-bottom: 100px;
    margin-top: 100px;
}

.srv-heading {
    position: relative;
    padding-bottom: 12px;
    text-align: center;
    font-size: 30px;
}

.srv-heading span {
    position: absolute;
    bottom: 11px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 3px;
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(63, 189, 252) 47%, rgb(255, 255, 255) 100%);
    border-radius: 10px;
}


/* =========================
   Services Cards
========================= */

.services-cards {
    display: grid;
    grid-template-columns: repeat(3, 388px);
    justify-content: center;
    column-gap: 75px;
    row-gap: 50px;
    margin-top: 60px;
}


/* =========================
   Card
========================= */

.srv-card {
        width: 388px;
    height: 216px ;
    position: relative;
    border-radius: 12px;
    box-shadow: 7px -4px 8px rgba(0, 0, 0, 0.25), -20px -8px 2px -37px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}


/* کارت سفید */

.primary-card {
    background: #ffffff;
}


/* کارت آبی */

.secondary-card {
    background: linear-gradient(
        135deg,
        #ffffff 0%,
        #244b9b 100%
    );
}


/* =========================
   Image
========================= */

.srv-card-image {
    position: absolute;
    left: -28px;
    top: 33px;
    width: 220px;
    height: 124px;
}

.srv-card-image img {
    width: 100%;
    height: 100%;

    display: block;

    object-fit: contain;
}


/* =========================
   Content
========================= */

.srv-card-content {
       position: absolute;
    right: 39px;
    top: 50px;
    width: 197px;
    text-align: right;
}

.srv-card-content h3 {
    margin: 0 0 8px;

    font-family: "Yekan Bakh", sans-serif;

    font-size: 30px;
    font-weight: 900;

    color: #244b9b;
}

.srv-card-content p {
    margin: 0;

    font-family: "Yekan Bakh", sans-serif;

    font-size: 14px;
    line-height: 1.8;

    color: #244b9b;
}


/* =========================
   Blue Card Text
========================= */

.secondary-card .srv-card-content h3,
.secondary-card .srv-card-content p {
    color: #ffffff;
}


/* =========================
   مشاهده
========================= */
.srv-card-link {
       position: absolute;
    left: 0px;
    bottom: 0px;
    width: 90px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border: none;
    border-radius: 0 10px 0 0;
    font-family: "Yekan Bakh", sans-serif;
    font-size: 12px;
    font-weight: 500;
    box-shadow: inset -9px 20px 9px -20px rgb(0 0 0 / 50%);
    color: #244b9b;
    -webkit-box-shadow: inset 0px 15px 9px -16px rgb(0 0 0 / 57% 57% );
    -moz-box-shadow: inset -4px 3px 8px rgba(0, 0, 0, 0.15);
    
}

.footer {
  background-color: red;
  width: 100%;
}
